<% @status.each_pair do |group,processes| %>
	<h2><%= group %></h2>
	<ul>
		<% processes.each do |process| %>
			<li class="<%= process[1][:state] %>"><%= process[0] %></li>
		<% end %>
	</ul>
<% end %>