<!DOCTYPE html>
<html>
<head>
	<title>Jesus</title>
	<link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
	<body>
		<div id="header">
			<ul>
				<%= tab 'Home', '/' %>
        <%= tab 'Logs', '/logs' %>
			</ul>
		</div>
		<div id="page">
      <%= flash_tag(:notice) %>
      
			<%= yield %>
		</div>
	</body>
</html>